{% extends 'base.html.twig' %}

{% block title %}Todo List{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="container mx-auto col-md-5 pt-5">
        <div class="row pb-4">
            <div class="col-md-9 p-0">
                <h1 class="h1">Todo List</h1>
            </div>

            <div class="col-md-3 p-0 text-end">
                <a href="/new" class="btn btn-primary mt-2">Add New Todo</a>
            </div>
        </div>

        <div class="row">
            <ul id="todo-list" class="col-md-12 list-group p-0">
                {% for item in todoItems %}
                    <li class="list-group-item{% if (item.completed == '1') %} disabled{% endif %}">
                        {% if item.important is same as(1) %}
                            <i class="fas fa-exclamation-circle text-danger"></i>
                        {% elseif (item.completed == '1')  %}
                            <i class="fas fa-check text-success"></i>
                        {% endif %}

                        {{ item.description }}

                        {% if (item.completed == '0') %}
                            <a href="/delete/{{ item.id }}" class="text-secondary"><i class="fas fa-trash"></i></a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
