{% extends 'base.html.twig' %}

{% block title %}Todo List{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="container mx-auto col-md-5 pt-5">
        <div class="row pb-4">
            <div class="col-md-9 p-0">
                <h1 class="h1">Todo List</h1>
            </div>

            <div class="col-md-3 p-0 text-end">
                <a href="/new" class="btn btn-primary mt-2">Add New Item</a>
            </div>
        </div>

        <div class="row">
            {% if todoItems is empty %}
                <p>Well done! You have done all your items.</p>
            {% else %}
                <ul id="todo-list" class="col-md-12 list-group p-0">
                    {% for item in todoItems %}
                        <li class="list-group-item">
                            <div class="row d-flex">
                                <div class="col-md-10">
                                    {% if item.completed == true %}
                                        <i class="fas fa-check text-success"></i>
                                    {% elseif item.important == true  %}
                                        <i class="fas fa-exclamation-circle text-danger"></i>
                                    {% endif %}

                                    <span{% if (item.completed == true) %} class="text-decoration-line-through"{% endif %}>
                                        {{ item.description|escape }}
                                    </span>
                                </div>
                                <div class="col-md-2 text-end">
                                    {% if (item.completed == false) %}
                                        <a href="/update/{{ item.id }}" class="text-success d-inline-block mr-4"><i class="fas fa-edit"></i></a>
                                    {% endif %}

                                    <a href="/delete/{{ item.id }}" class="text-danger d-inline-block"><i class="fas fa-trash"></i></a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}