{% extends 'base.html.twig' %}

{% block title %}Todo List{% endblock %}

{% block body %}
    <div class="wrapper">
        <header>Todo List</header>

        {{ form_start(form, {'attr': {'class': 'donation-form'}}) }}

            <div class="form-group">
                {{ form_row(form.description, {'attr': {'maxlength': "100", 'aria-invalid':"false"}}) }}
            </div>

        {{ form_end(form) }}

        <ul class="todoList">
            <!-- data are comes from local storage -->
        </ul>
    </div>
{% endblock %}
